*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
p{
    color: #828285;
}
.line {
    border-bottom: 2px solid #195698;
    margin: 0 auto;
    width: 12%;
    padding-top: 10px;
}
a button:hover{
    background-color: black;
    /* color: #1E69B8; */
}

/* ########### section-one ############## */

.sec-one{
    background-color: #F5F5F5;
    padding:10px 0px ;
}
.reference {
    display: flex;
}
.reference li {
    padding-right: 30px;
    border-left: 1px solid;
    color: #999;
}
.reference li a{
    color: #999;
    padding-left: 15px;
}
.reference li a:hover{
    color:#1E69B8;
}
.reference li i:hover{
    color: #1E69B8;
}
.reference i{
    padding-left: 15px;
}
.icons i {
    padding-left: 14px;
    color: #999;
    border-left: 1px solid;
    padding-right: 25px;
    height: 19px;
}
.icons i:hover{
    color: #1E69B8;
}
.search-box{
    display: none;
}
i.fa-solid.fa-magnifying-glass:hover > .search-box {
    display: block;
}

/* ########### section-two ############## */

.nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.nav-item ul {
    display: flex;
    padding-left: 18rem;
}
.logo h1{
    color: #0000FF;
    font-weight: 700;
}
.nav-item ul li{
    padding-left: 35px;
    font-size: 18px;
}
.nav-item ul li a{
    color: #777;
}
.nav-item ul li a:hover{
    color: #1E69B8;
    text-decoration: underline #1E69B8;
}

/* ########### section-three ############## */

.sec-three{
    background-image: url(images/service1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
}
.content-three {
    color: white;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.content-three h1 {
    font-size: 42px;
    font-weight: 700;
    color: dodgerblue;
}
.content-three p {
    font-size: 19px;
    font-weight: 600;
    color: dodgerblue;
    padding-top: 10px;
}
.content-three button {
    border: 2px solid;
    height: 3rem;
    width: 12rem;
    color: white;
    background-color: dodgerblue;
    font-size: 19px;
    margin: 20px 20rem;
    letter-spacing: 1.2px;
    font-weight: 700;
}

/* ########### section-four ############## */

.sec-four {
    background-color: #ececec;
    padding: 35px 0px;
    text-align: center;
}
.content-four{
    margin: 0 auto;
}
.content-four p{
    font-size: 20px;
}
.content-four button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    background: #1E69B8;
    padding: 20px 10px 20px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
}

/* ########### section-five ############## */

section.sec-five {
    text-align: center;
}
.content-five{
    padding: 30px 0px;
}
.content-five h1{
    font-weight: 300;
}
.content-five p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
    padding-top: 15px;
}
.cont-five h3 {
    font-size: 20px;
    text-align: center;
}
.cont-five p {
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
}
.sec-five button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    background: #1E69B8;
    padding: 13px 20px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
}

/* ########### section-six ############## */

section.sec-six {
    background-color: #f5f5f5;
    margin-top: 20px;
}
.img-vehicle img {
    width: 100%;
    height: 100%;
}
.cont-six p {
    padding-top: 25px;
    font-size: 17px;
}
.cont-six p:last-of-type{
    padding-top: 0px;
}
.cont-six {
    padding-top: 20px;
    text-align: center;
}
.cont-six h1 {
    font-size: 38px;
    font-weight: 300;
}
.cont-six .line {
    width: 20%;
    padding-top: 25px;
}
.inner_row {
    text-align: initial;
}
.inner_row .col-4 {
    padding-left: 35px;
}
.inner_row ul li {
    line-height: 2;
    font-size: 14px;
    color: #828285;
}
.cont-six button {
    background: #1e69b8;
    border: 1px solid #E2E6E7;
    padding: 11px 0px 15px;
    color: white;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    width: 25%;
}
.cont-six button:hover{
    background-color: black;
} 

/* ########### section-seven ############## */

section.sec-seven {
    margin-top: 35px;
}
.content-seven {
    text-align: center;
}
.content-seven h1 {
    font-size: 33px;
    line-height: 44px;
    font-weight: 300;
}
.content-seven .line {
    width: 9%;
}
.content-seven p {
    font-size: 18px;
    padding-top: 29px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 32px;
}
.boxes {
    display: flex;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}
.box img {
    width: 100%;
}
.box h3 {
    font-size: 20px;
    text-align: initial;
    padding-top: 9px;
}
.content-seven button {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    background: #1E69B8;
    padding: 18px 20px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
}

/* ########### section-eight ############## */

.sec-eight {
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 50px 0px;
    background-attachment: fixed;
    padding-bottom: 4rem;
}
.content-eight {
    text-align: center;
    padding-top: 5rem;
}
.content-eight p {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: #FFF;
    line-height: 36px;
    padding: 40px 130px 0;
    text-align: center;
}


/* ########### section-nine ############## */

.logo h3 {
    color: #0000FF;
    font-size: 35px;
}
.logo a {
    color: #858383;
}
.logo a:hover{
    color: #858383;
    text-decoration: underline #1E69B8;
}
.content-nine ul li a {
    color: #858383;
    line-height: 2;
    letter-spacing: 1.5px;
}
.content-nine ul li a:hover{
    color: #1E69B8;
    text-decoration: underline #1E69B8;
}
.content-nine h1 {
    font-size: 29px;
    padding-left: 32px;
}
.lst-form form input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #858383;
    outline: none;
    border-radius: 25px;
    margin-left: 20px;
}
.lst-form input[type="submit"] {
    border-radius: 1;
    width: 42%;
    margin-left: 25px;
    margin-top: 18px;
    background-color: transparent;
}
@media screen and (max-width: 620px){
    .nav {
        margin-top: 0px;
    }
    section.sec-two {
        position: sticky;
        top: 0;
        background-color: whitesmoke;
    }
    .nav-item ul {
        padding-left: 0;
    }
    .nav-item ul li {
        padding-left: 24px;
        display: flex;
    }
    .content-three button {
        margin: 20px 8rem;
    }
    .reference {
        display: block;
    }
    .cont-five {
        display: block;
    }
    .cont-five .col-4 {
        width: 100%;
    }
    .sixth-row {
        display: block;
    }
    .sixth-row .col-6{
        width: 100%;
    }
    .content-eight p {
       padding: 40px 0px 0;
    }
    .content-nine h1 {
        padding-left: 0px;
    }
    .content-nine .row {
        display: block;
    }
    .content-nine .row .col-3 {
        width: 100%;
    }
    input[type="submit"] {
        margin-left: 3rem;
        margin-bottom: 20px;
    }
    input {
        display: block;
    }
    input {
        margin-left: 0px;
    }
}
@media screen and (max-width: 320px){
    .reference li a {
        font-size: 15px;
        padding-left: 6px;
    }
    .reference li {
        padding-right: 0px;
    }
    .reference i {
        padding-left: 4px;
    }
    .nav-item ul li {
        padding-left: 0px;
    }
    .content-three button {
        margin: 20px 0rem;
    }
    .inner_row .col-4 {
        padding-left: 0px;
    } 
    .sec-nine {
        text-align: center;
    }   
    .content-nine h1 {
        padding-top: 25px;
    }
    input[type="submit"] {
        margin-left: 3rem;
        margin-bottom: 20px;
    }
    form input {
        margin-left: 3rem;
    }
    .nav {
        display: block;
        margin-left: 30px;
    }
    .nav-item ul {
        display: block;
    }
}  



/* ############ contact ############# */

.two-sec{
    background-image: url(images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    padding-bottom: 50px;
}
.contact {
    text-align: center;
    padding-top: 40px;
}
.contact h1 {
    font-size: 45px;
    font-weight: 700;
}
.contact p {
    font-size: 20px;
}
.three-section{
    margin: 40px 0px;
}
.three-content form input {
    margin-left: 0px;
    border-radius: 6px;
    margin-right: 1rem;
    margin-top: 20px;
    width: 46%;
    border: 1px solid #e9f1f5;
    outline: none;
    background-color: #f8fcfe;
    border-color: #e9f1f5;
    font-size: 15px;
    padding: 12px 20px 14px;
    height: 56px;
    color: #909090;
}
#lng{
    margin-left: 0px;
    margin-right: 1rem;
    width: 96%;
    margin-top: 22px;
    outline: none;
    border-color: #e9f1f5;
    background-color: #f8fcfe;
    border-radius: 6px;
    font-size: 15px;
    padding: 12px 20px 14px;
    height: 56px;
    color: #909090;
}
input#lng[type="text"] {
    padding-bottom: 7rem;
    padding-top: 28px;
}
.three-content input[type="submit"] {
    background: #23b0e6;
    width: 37%;
    color: white;
    border: none;
    font-size: 19px;
    font-weight: 600;
}
.three-content input[type="submit"]:hover{
    box-shadow: 0px 4px 0px 0px #23b0e6;
    background-color: #424242;
}
.sec-three-content a{
    font-size: 20px;
    color: black;
    font-weight: 500;
}
.sec-three-content img {
    margin-top: 5rem;
    width: auto;
}

/* ############# services ############ */
.content-service{
    text-align: center;
    padding-top: 36px;
}
.content-service h1 {
    font-size: 50px;
    font-weight: 600;
}
.content-service p{
    font-size: 18px;
    padding: 20px 0px;
}

/* ############# about ############## */

.heading {
    font-size: 33px;
    padding-top: 10px;
    background-color: black;
    color: white;
    padding-left: 4.5rem;
    padding-bottom: 10px;
}
.about{
    margin: 50px 0px;
}
.line2 {
    border-bottom: 2px solid #195698;
    width: 12%;
    padding-top: 10px;
}
ul.about-item {
    padding-left: 0px;
    padding-top: 20px;
}
ul.about-item li {
    list-style-type: disclosure-closed;
}
.abt-btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    background: #1E69B8;
    padding: 16px 16px 15px;
    text-align: center;
    letter-spacing: 1px;
    border: none;
}
.abt-img img {
    width: 100%;
}
.half {
    display: flex;
}
.half img {
    width: 49%;
    margin-top: 10px;
    margin-right: 10px;
}

/* ############# Gallery ############# */

.box-2{
    display: flex;
}
.box-2 {
    display: flex;
    margin-top: 25px;
}
.box-2 img {
    width: 25%;
    margin-right: 18px;
}
.third{
    margin-bottom: 50px;
}